/* colors.scss */
/**/
.clear {
  clear: both;
}

body {
  background-image: url(../img/bg-file1.jpg);
  background-color: #dedede;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
}

hr {
  width: 90%;
}

.site-wrap {
  background: white;
  padding-left: 0;
  padding-right: 0;
  width: 975px;
  margin: auto;
}

.header {
  background: #23458c;
  padding: 25px 30px;
}
.header .header__logo {
  width: 40%;
  float: left;
}
.header .header__sponsors {
  width: auto;
  float: right;
}

.header__sponsors .header__sponsors__link {
  margin-left: 20px;
}

section {
  margin-bottom: 30px;
}

.main {
  padding-bottom: 35px;
}
.main .main__intro {
  padding: 35px 35px 20px 35px;
  text-align: center;
}
.main .main__intro .main__intro--content {
  color: #a7a9ae;
  font-size: 22px;
}
.main .main__intro .main__intro--content {
  margin: 0 0 40px;
}
.main .main__intro .main__intro--content:last-of-type {
  margin: 0 0 20px;
}
.main .main__callout {
  background: #4b9953;
}
.main .main__callout .main__callout--section {
  float: left;
  width: 33%;
}
.main .main__callout .main__callout--section-goals .main__callout--section-img {
  margin-top: 25px;
}
.main .main__callout .main__callout--section-icon {
  margin-right: 10px;
}
.main .main__download .main__download--download {
  padding-top: 20px;
  text-align: center;
}
.main .main__download--header, .main .main__intro--header, .main .main__video--header {
  text-align: center;
  color: #e86d30;
  font-family: 'EB Garamond', serif;
  font-size: 31px;
  margin: 0 0 30px;
}
.main .main__video .main__video--video {
  margin: auto;
  display: block;
}

.footer {
  padding: 10px;
  background: #23458c;
}
.footer .footer--copyright {
  color: white;
}
